{% extends 'base.html' %}

{% block head %}
    <script type="text/javascript" src="/static/js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/static/js/slide.js"></script>
{% endblock head %}

{% block center_body %}

	<div class="navbar_con">
		<div class="navbar">
			<h1 class="fl">全部商品分类</h1>
			<ul class="navlist fl">
				<li><a href="{% url "df_goods:index" %}">首页</a></li>
				<li class="interval">|</li>
				<li><a href="#">button</a></li>
				<li class="interval">|</li>
				<li><a href="{% url "df_task:index" %}">test</a></li>
			</ul>
		</div>
	</div>
	<div class="center_con clearfix">
		<ul class="subnav fl">
			<li><a href="#model02" class="main_category_1">字符串</a></li>
			<li><a href="#model02" class="main_category_2">算法</a></li>
			<li><a href="#model03" class="main_category_3">数据结构</a></li>
			<li><a href="#model05" class="main_category_4">图论</a></li>
			<li><a href="#model05" class="main_category_5">数学</a></li>
			<li><a href="#model06" class="main_category_6">其他</a></li>
		</ul>
		<div class="slide fl">
			<ul class="slide_pics">
				<li><img src="/static/images/slide/slide01.png" alt="幻灯片"></li>
				<li><img src="/static/images/slide/slide02.png" alt="幻灯片"></li>
				<li><img src="/static/images/slide/slide03.png" alt="幻灯片"></li>
				<li><img src="/static/images/slide/slide04.png" alt="幻灯片"></li>
				<li><img src="/static/images/slide/slide05.png" alt="幻灯片"></li>
				<li><img src="/static/images/slide/slide06.png" alt="幻灯片"></li>
			</ul>
			<div class="prev"></div>
			<div class="next"></div>
			<ul class="points"></ul>
		</div>
		<div class="adv fl">
			<a href="#"><img src="/static/images/adv/adv01.png"></a>
			<a href="#"><img src="/static/images/adv/adv02.png"></a>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model01">字符串</h3>
			<div class="subtitle fl">
				<span>|</span>
				<a href="#">ac自动机</a>
				<a href="#">字符串哈希</a>
				<a href="#">kmp</a>
			</div>
			<a href="/list1_1_1/" class="goods_more fr" id="fruit_more">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="/static/images/banner01.jpg"></div>
			<ul class="goods_list fl">
                {% for goods in type0 %}
                <li>
                    {% include "partial/_item_card.html" %}
                </li>
                {% endfor %}
			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model02">算法</h3>
			<div class="subtitle fl">
				<span>|</span>
				<a href="#">动态规划</a>
				<a href="#">排序</a>	
				<a href="#">搜索</a>			
			</div>
			<a href="/list2_1_1/" class="goods_more fr">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="/static/images/banner02.jpg"></div>
			<ul class="goods_list fl">
                {% for goods in type11 %}
                <li>
                    {% include "partial/_item_card.html" %}
                </li>
                {% endfor %}
			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model03">数据结构</h3>
			<div class="subtitle fl">
				<span>|</span>
				<a href="#">堆</a>
				<a href="#">栈</a>
				<a href="#">树</a>
			</div>
			<a href="#" class="goods_more fr">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="/static/images/banner03.jpg"></div>
			<ul class="goods_list fl">
				{% for goods in type21 %}
                <li>
                    {% include "partial/_item_card.html" %}
                </li>
                {% endfor %}
			</ul>
		</div>

	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model04">图论</h3>
			<div class="subtitle fl">
				<span>|</span>
				<a href="#">最短路</a>
				<a href="#">拓扑结构</a>
				<a href="#">强连通分量</a>
			</div>
			<a href="#" class="goods_more fr">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="/static/images/banner04.jpg"></div>
			<ul class="goods_list fl">
				{% for goods in type31 %}
                <li>
                    {% include "partial/_item_card.html" %}
                </li>
                {% endfor %}
			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model05">数学</h3>
			<div class="subtitle fl">
				<span>|</span>
				<a href="#">多项式算法</a>
				<a href="#">快速幂</a>
				<a href="#">排列组合数学</a>
			</div>
			<a href="#" class="goods_more fr">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="/static/images/banner05.jpg"></div>
			<ul class="goods_list fl">
				{% for goods in type41 %}
                <li>
					{% include "partial/_item_card.html" %}
                </li>
                {% endfor %}
			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model06">其他</h3>
			<div class="subtitle fl">
				<span>|</span>
				<a href="#">分治</a>
				<a href="#">二分</a>
				<a href="#">贪心</a>
			</div>
			<a href="#" class="goods_more fr">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="/static/images/banner06.jpg"></div>
			<ul class="goods_list fl">
				{% for goods in type51 %}
				<li>
					{% include "partial/_item_card.html" %}
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>

	<script type="text/javascript" src="/static/js/slide.js"></script>
    <script type="text/javascript">
        BCSlideshow('focuspic');
        var oFruit = document.getElementById('fruit_more');
        var oShownum = document.getElementById('show_count');

        var hasorder = localStorage.getItem('order_finish');

        if(hasorder)
        {
        oShownum.innerHTML = '2';
        }

        oFruit.onclick = function(){
        window.location.href = 'list.html';
        }
    </script>

{% endblock center_body %}
