{% extends 'base.html' %}

{% block head %}
<script>
{% comment %} JS HERE {% endcomment %}
</script>
{% endblock head %}

{% block center_body %}
<div class="main_con clearfix">
	<div class="main_con clearfix">
		<div class="left_menu_con clearfix">
			<h3>用户中心</h3>
			<ul>
                <li><a href="{% url "df_user:info" %}">· 个人信息</a></li>
				<li><a href="{% url "df_user:order" 1 %}">· 全部订单</a></li>
				<li><a href="{% url "df_user:site" %}" >· 收货地址</a></li>
				<li><a href="{% url "df_user:publish" %}" class="active">· 发布算法</a></li>
				<li><a href="{% url "df_user:published" 1%}">· 已发布</a></li>
			</ul>
		</div>
		
		<div class="right_content clearfix">
				<h3 class="common_title2">增加 商品</h3>
				<div class="site_con">
					<form action="{% url "df_user:publish_handle" %}" method="post">
                        {% csrf_token %}
						<div class="form_group">
							<label class="vCheckboxLabel">删除：</label>
                        	<input type="checkbox" name="isDelete" id="id_isDelete">
                		</div>
						<div class="form_group">
							<label>商品名称：</label>
							<input type="text" name="gname" value="{{ goods.gtitle }}">
						</div>
                        <div class="form_group2">
                        	<br><label>商品图片:</label>
                            <input type="file" name="gpic" id="id_gpic" value="{{goods.gpic}}">
                		</div>
                        <div class="form_group">
							<br><label>简介：</label>
                            <input type="text" name="gjianjie" value="{{ goods.gjianjie }}">
                        </div>
                        <div class="form_group3">
                            <br><br><br><label>详情：</label>
                            <textarea class="site_area" name="gcontent" >{{ goods.gcontent }}</textarea>
                        </div>
						<div class="form_group">
                            <label>分类：</label>
                            <input type="text" name="gtype" value="{{ goods.gtype }}">
                        </div>
						<div class="form_group2">
                            <br><label>代码：</label>
                            <input type="file" name="gcode" id="id_gcode">
                        </div>
						<div class="form_group2">
                            <br><br><br><label>文档：</label>
                            <input type="file" name="gdoc" id="id_gdoc">
                        </div>
						<br><br><br><input type="submit" name="" value="发布算法" class="info_submit">
					</form>
				</div>
		</div>
	</div>
{% endblock center_body %}