{% extends 'base_ui.html' %}

{% block css %}



{% endblock css %}


{% block right %}

 <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container-fluid">

                <div class="page-title-box">
                    <div class="row align-items-center">
                        <div class="col-sm-6">
                            <h4 class="page-title">Form Wizard</h4>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'df_task:index' %}"><i class="mdi mdi-home-outline"></i></a></li>
                                <li class="breadcrumb-item"><a href="{% url 'df_task:creat_task' %}">Task</a></li>
                                <li class="breadcrumb-item active">Task Record</li>
                            </ol>
                        </div>
                        <div class="col-sm-6">
                            <div class="float-right d-none d-md-block">
                                <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle arrow-none waves-effect waves-light" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="mdi mdi-settings mr-2"></i> Settings
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Separated link</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- end row -->
                </div>
                <!-- end page-title -->

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Algorithm</th>
                            <th>CPU</th>
                            <th>MEM</th>
                            <th>Start Time</th>
                            <th>Dataset</th>
                            <th>Result</th>
                        </tr>
                    </thead>
                    {% for task in task_set %}
                        <tbody>
                            <tr>
                                <td>{{ task.task_algorithm }}</td>
                                <td>{{ task.cpu }}</td>
                                <td>{{ task.memory }}</td>
                                <td>{{ task.task_start_time }}</td>
                                <td><button class="btn-primary"><a href="/static/Data/{{ uid }}/{{ task.task_data_url }}" download=dataset>Download</a></button></td>
                                <td><button class="btn-warning"><a href="/static/Out/{{ uid }}/{{ task.output }}" download="result">Download</a></button></td>
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>


{% endblock right %}


{% block right_side %}



{% endblock right_side %}


{% block js %}



{% endblock js %}