{% block item_card %}
<div class="card">
    <a href="/good-{{ goods.id }}/">
    <script type="text/javascript">
        document.write("<img src=" + getImageFromID({{ goods.id }}) + " class=\"card-img-top\" alt=\"...\">")
    </script>
    </a>
    <div class="card-body">
        <h5 class="card-title" style="font-weight:700"> 
            <a href="/good-{{ goods.id }}/"> {{ goods.gtitle }}</a>
        </h5>
        <p class="card-text" href="/good-{{ goods.id }}/">{{ goods.gtitle }}</p>
    </div>
    <div class="card-footer">
        <small class="text-muted">Last updated 1 mins ago</small>
    </div>
</div>
{% endblock item_card %}